<body>
    <div id="roomList" ng-controller="ChatCtrl as chat">
    ROOMS
        <br>
        <button ng-click="showForm=true">Create New Room</button>
        <div ng-show="showForm" class="slideDown">
            <form ng-submit="submit(roomname)">
            Enter a room name: 
            <input type="text" ng-model="roomname" name="roomnames" />
            <br/>
            <input type="submit" id="submit" value="Submit" />
            </form>
            <button ng-click="showForm=false">Cancel</button>
        </div>

        <div ng-repeat="room in rooms">
            <a href ng-click="activeRoom(room)">{{ room.$value }}</a>
        </div>

    </div>

    <div id="messageList" ng-controller="ChatCtrl as chat">
        Current Room = {{ rooms.showRoom }}
    </div>

</body>